.vscode/
.idea/

*.env
*.venv

*.log

.terraform/

creds.tfvars

cloud-config

*.lock
*.info

# фиксация версии нужна, позже будет закомментировано
*.hcl

*.tfstate
*.backup

inventory
inventory-*
inventory_*
