.vscode/
.idea/

__pycache__/

*.env
*.venv

*.log

.terraform/

creds.tfvars

cloud-config

*.lock
*.info

# фиксация версии нужна, позже будет закомментировано
*.hcl

*.tfplan
*.tfstate
*.backup

# inventory -- игнорится диретория inventory/, а нужно игнорит ь только файлы inventory
inventory
inventory-*
inventory_*

*.pub

yc_key_secret_file