.vscode/
.idea/

__pycache__/

*.env
*.venv

*.log

.terraform/

creds.tfvars

cloud-config

*.lock
*.info

# фиксация версии нужна, позже будет закомментировано
*.hcl

*.tfplan
*.tfstate
*.backup

# inventory -- игнорируется директория inventory/, а нужно игнорить только файлы inventory
inventory
inventory-*
inventory_*

*.retry

*.pub

yc_key_secret